header{
    background-color: #674d3c;
    color: #fff;
    padding: 20px 0;
    margin-top: 0;
    text-align: center;
    font-size: 32px;
}
main{
    width: 90%;
    margin: 0px auto;
    padding: 20px;
}