ul.movies-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
ul.movies-list li{
    margin: 5px;
    padding: 10px;
    background-color: #ffc10740;
    flex-basis: 30%;
    cursor: pointer;
}
ul.movies-list li.selected{
    background-color: #ffc1077d;
}