<h1>My Favorite Movies</h1>
<ul class="movies-list">
  <li *ngFor="let movie of favoriteMovies" 
        (click)="onMovieSelect(movie)"
        [class.selected]="movie === selectedMovie">
     {{movie.name}} - <span class="badge">{{movie.year}}</span>
  </li>
</ul>
<br>
<app-movie-details [movie]="selectedMovie"></app-movie-details>